body {
font-family: "Trebuchet MS", Helvetica;
margin: 0;
background-color: #f4f4f4;
background: linear-gradient(to bottom, #573085, #b89bda)
}

header {
background-color: #573085;
color: white;
padding: 20px;
text-align: center;
}

/* Container to hide overflow */
.slider-container {
  width: 100%;
  overflow: hidden;
  background: #222;
  opacity: 50%;
  color: white;
  padding: 1px 0;
  border-radius: 15px;
  }

    /* Sliding text */
.slider {
  display: inline-block;
  white-space: nowrap;
  animation: slide-left 15s linear infinite;
  }

    /* Keyframes for sliding effect */
@keyframes slide-left {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(-150%);
    }
  }

main {
max-width: 700px;
margin: 130px auto;
border: 1px solid hsl(286, 89%, 22%);
background-color: hsl(278, 42%, 87%);
padding: 30px;
width: 650px;
border-radius: 10px;
}

.caixa {
background-color: hsl(279, 24%, 67%);
max-width: 200px;
padding: 10px;
text-align: center;
border-radius: 15px;
position:absolute;
left: 415px;
}

.caixa2 {
background-color: hsl(279, 24%, 67%);
max-width: 220px;
margin: 10px;
padding: 10px;
text-align: center;
border-radius: 15px;
position:absolute;
left: 400px;
bottom: 31%;
}

.caixa3 {
background-color: hsl(279, 24%, 67%);
max-width: 240px;
margin: 00px;
padding: 10px;
text-align: center;
border-radius: 15px;
position:absolute;
left: 650px;
}

.caixa4 {
background-color: hsl(279, 24%, 67%);
max-width: 180px;
margin: 10px;
padding: 10px;
text-align: center;
border-radius: 15px;
border-radius: 15px;
position:absolute;
left: 665px;
bottom: 31%;
}

img {
  border: 1px solid #c460e2;
  border-radius: 4px;
  padding: 5px;
  width: 450px;
}

.playlist {
max-width: 750px;
margin: 40px;
padding: 0px;
text-align: left;
}

section {
margin-bottom: 40px;
}

footer {
text-align: center;
padding: 20px;
color: #777777;
}

/* Telemóvel */
@media (max-width: 600px) {
}
/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
}
/* Computador */
@media (min-width: 1025px) {
}
